/*ESTILOS GENERALES*/
:root {
  --color-principal: #ffffff;
  --color-secondary: #f6c200;
  --color-tertiary: #68cebb;

  --color-background: #0b3b64;
  --color-transparent: transparent;

  --color-icon: #B5B6B7;
  /*--color-title: #222222;*/
  --color-title: #363e65;
  --color-subtitle: #6FCCF4;
  --color-text: #555;

  --color-scrollbar: #d3d3d4;
  --color-background-scrollbar: #eee;

  --color-border-reviews: #e5e6e7;
  --color-company: #a5a6a7;

  --color-background-contact: #fcfcfc;
}

/*Reset NORMALIZAR EL CSS*/
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

*,
*::before,
*::after{
  /*compatibilidad navegadores*/
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: var(--color-text);
  background-color: var(--color-background);

  /*neutralizar el scroll con la imagen de fondo*/
  overflow: hidden;
}

ul,ol{
  list-style: none;
}

a{
  text-decoration: none;
  display: block;
}

h2{
  margin-bottom: 2rem;
  padding: 0 2rem;
}

img, video, iframe, picture, figure{
  max-width: 100%;
  display: block;
}

p a{
  display: inline;
}

form, input, select, textarea, button, label{
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

h2 {
  text-align: center;
  color: #333;
}



@font-face {
  font-family: 'Kristen';
  src: url("../public/fonts/Kristen-Normal-Regular.otf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

.kristen {
  font-family: Kristen, sans-serif;
}
